@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
}

#app {
  max-width: 1440px;
  display: flex;
  padding: 32px;
  margin: 0 auto;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333333 #ffffff;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}
