@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout,
#app {
  height: 100%;
  width: 100%;
}

#app {
  padding: 32px;
}

button {
  border: 0;
  cursor: pointer;
}
